In [47]:
#1. sorting tuples in as list
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
l.sort(key = lambda x : x[1])
print(l)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [33]:
# 2. 
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
#3. converting integers into the string in a list using the map and lambda
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: str(x),l))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [35]:
#4. calculating the product in the list using the reduce
from functools import reduce
l=[]
for i in range(1,26):
    l.append(i)
reduce(lambda x,y:x*y,l)

15511210043330985984000000

In [36]:
#5. getting the values in a list which are divisible by 2 and 3 using filter and lambda
l= [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x%2==0 and x%3==0, l))

[6, 60, 90, 120]

In [48]:
#6. getting only palindrome from a list using the filter and lambda
l=['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda x: x == x[::-1], l))

['php', 'aba', 'radar', 'level']